.App {
  text-align: center;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-flow: column;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-around;
  border: solid 0.7px lightgray;
  border-top: none;
}
.table-header {
  background-color: lightgray;
}

.table {
  width: 70%;
}

.search-div {
  padding: 20px 0;
  width: 70%;
}
.search-bar {
  width: 100%;
  padding: 5px;
}
.red {
  color: red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
